[submodule "EdgarSvc"]
	path = EdgarSvc
	url = https://github.com/faquino08/EdgarSvc.git
[submodule "IqFeedSvc"]
	path = IqFeedSvc
	url = https://github.com/faquino08/IqFeedSvc.git
[submodule "TdRestApiSvc"]
	path = TdRestApiSvc
	url = https://github.com/faquino08/TdRestApiSvc.git
[submodule "TdScannerSvc"]
	path = TdScannerSvc
	url = https://github.com/faquino08/TdScannerSvc.git
[submodule "TdWebSocketSvc"]
	path = TdWebSocketSvc
	url = https://github.com/faquino08/TdWebSocketSvc.git
